img {
	width: 100%;
}

#container {
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 462px;
	height: 346px;
}
#control-buttons {
	margin-left:auto;
	margin-right:auto;
}